.header {
    background-color: $color-primary;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .header__logo {  
        padding: 1.5rem;
    }

    .header__title {
        font-size: 6rem;
        font-weight: 400;
        text-align: center;
        line-height: 8.148rem;
        color: $white--true;
        margin: 0.75rem 0 0 0;    
    }
    
    .header__info {
        margin-top: 0.75rem;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 400;
        color: $white--true;
    }
}


.js-anchor {
    position: absolute;
    bottom: 20px;
    transform: translateX(-50%);
    z-index: 10;
    animation: move-arrow 2s infinite ease-in-out; /* Continuous up and down movement */
  }
  
  @keyframes move-arrow {
    0% {
      transform: translateY(0); /* Starting position */
    }
    50% {
      transform: translateY(-10px); /* Move up */
    }
    100% {
      transform: translateY(0); /* Move back to the starting position */
    }
  }
  