/*------------------------------------*\
** FOOTER
\*------------------------------------*/

footer img{
  max-width: 100%; /* Ograniči širinu slike na širinu viewporta */
  height: auto;    /* Održava omjer slike */
  display: block;  /* Izbjegava dodatne praznine ispod slike */
  margin: 0 auto;  /* Poravnava sliku u centru */
}


/*------------------------------------*\
** COPYRIGHT
\*------------------------------------*/

.copyright {
  background: none;
  color: $black;
  text-align: center;
}


// CREATE A STICKY FOOTER WITH FLEXBOX
