/*------------------------------------*\
** FOOTER
\*------------------------------------*/

footer {
  margin-top: 5rem;
  margin-bottom: 5rem;
}


/*------------------------------------*\
** COPYRIGHT
\*------------------------------------*/

.copyright {
  background: none;
  color: $black;
  text-align: center;
}


// CREATE A STICKY FOOTER WITH FLEXBOX
