
/* STICKY HEADER */

.sticky-header.sticky-header--down {
	transform: translateY(-100%);
	transition: transform 0.3s;
	box-shadow: none;
}

.sticky-header.sticky-header--up {
	transform: translateY(0);
	transition: transform 0.3s;
}

.sticky-header {
	position: fixed;
	top: 0;
	z-index: 1;
	background-color: transparent;
	box-shadow: none;
	transition: all 0.3s;
}
