<div id="header-project" class="header">
    <div class="header__wrapper flex flex--column">
        <div class="header__image"><%= image_tag 'logo.svg', class: 'logo' %></div>
        <h1 class="header__title">Stara Pekara</h1>
        <p class="header__info">Edukativni i informativni turistiÄki centar mladih</p>
    </div>
</div>